.title {
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
    font-size: 300%;
}

body {
    background-color: #AEC3B0;
}


nav {
    font-family: 'Bebas Neue', cursive;
    font-size: 150%;
}

.navlink {
    padding-right: 15px;
}

footer {
    font-size: 80%;
}