/* Body formatting*/
html {
    height: 100%;
}

body {
    background-image:
        linear-gradient(-45deg, #aec3b0 20%, #598392 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    height: 100%;
    color: #01161e;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 25px;
    display: flex;
    flex-direction: column;
}

/* Nav section formatting*/

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    padding: 0 20px;
}


nav ul a {
    text-decoration: none;
    color: #01161e;
    text-shadow: 3px 3px 2px #598392;
    padding: .5em;
    font-family: 'Bebas Neue', cursive;
    font-size: 200%;
    font-weight: bold;
}

nav ul a:hover {
    box-shadow: 0 0 10px 0 #AEC3B0 inset, 0 0 20px 2px #AEC3B0;
    border: 3px solid #AEC3B0;
    border-radius: 10px;
}

/* Header formatting*/
header {
    display: flex;
    padding-top: 20px;
    align-items: last baseline;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    color: #01161e;
    text-shadow: 3px 3px 2px #598392;
    font-size: 275%;
    padding-left: 10px;

}

.logo {
    box-shadow: 3px 3px 2px #598392;
    max-height: 125px;
    border-radius: 10px;
}

/* Main formatting*/
section {
    display: flex;
    padding-top: 40px;
    justify-content: space-evenly;
    align-items: baseline;
}

section ul {
    list-style-type: none;
}

ul i {
    color: #01161e;
    font-size: 125%;
}


main p {
    text-indent: 2em;
    line-height: 1.25em;
}

q {
    font-style: italic;
}


ul,
ol {
    line-height: 1.5em;
}

#music div {
    padding-bottom: 40px;
}

/* Images formatting*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 15px;
}

.gallery li {
    height: 400px;
}

.gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}


/* Footer formatting*/
footer {
    font-size: 75%;
    align-self: center;
    text-align: center;
}

/*Media Queries*/
@media (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav li {
        padding-bottom: 30px;
        font-size: 80%;
    }

    h1 {
        font-size: 180%;
        padding-left: 10px;
    }

    .logo {
        max-height: 80px;
    }

    header {
        padding-top: 0px;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    article {
        width: 100%;
        margin: auto;
    }
}